// Here you can add other styles
.page-item:not(.disabled) .page-link {
  cursor: pointer;
}
.pagination {
  justify-content: flex-end;
}
th.col {
  display: block;
  position: relative;
}
th.sorted[data-sorting-direction="1"], th.sorted[data-sorting-direction="-1"] {
  padding-right: 15px;
}
th.sorted[data-sorting-direction="-1"]::after {
  content: "\25be";
}

th.sorted[data-sorting-direction="1"]::after {
  content: "\25b4";
}

th.sorted[data-sorting-direction="1"]::after, th.sorted[data-sorting-direction="-1"]::after {
  margin-right: -15px;
  float: right;
}

table.table-fixed {
  //table-layout: fixed;
  //word-wrap: break-word;
}
.align-text-center {
  text-align: center;
}
.text-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  min-width: 150px;
}

.dropdown_button_crud.show {
  min-width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.dp__action_row .dp__action_buttons {
  width: 100%;
}

.select-count-row {
  width: 130px !important;
  line-height: 2rem !important;
  background-position-y: 1rem !important;
  height: 38px !important;
  color: rgb(163 168 176) !important;
}

.form-floating {
  margin-bottom: 1rem;
}

.form-floating .form-label {
  top: -0.5rem !important;
}

.form-floating .form-label-duration {
  top: -1rem !important;
  z-index: 99;
  padding-left: 50px;
  font-weight: 700;
  font-size: small;
}
.form-floating .form-input-duration::-webkit-input-placeholder {
  color: rgb(163 168 176) !important;
}
.form-floating .form-input-duration:-moz-placeholder {
  color: rgb(163 168 176) !important;
}
.form-floating .form-input-duration::-moz-placeholder {
  color: rgb(163 168 176) !important;
}
.form-floating .form-input-duration:-ms-input-placeholder {
  color: rgb(163 168 176) !important;
}

.table-responsive {
  margin-bottom: 1rem;
}
.custom-valid {
  position: absolute;
  width: 104%;
  left: -2%;
  height: 130%;
  top: -15%;
  background-color: transparent !important;
  background-position: right calc(0.375em + 0.75rem) center !important;
  pointer-events: none !important;
}
.btn-white {
  --cui-btn-color: rgba(255, 255, 255, 0.87);
  --cui-btn-hover-color: rgba(255, 255, 255, 0.87);
  --cui-btn-active-color: rgba(255, 255, 255, 0.87);
  --cui-btn-disabled-color: rgba(255, 255, 255, 0.87);
}
.btn-payment-history {
  --cui-btn-bg: #7cc144;
  --cui-btn-border-color: #7cc144;
  --cui-btn-hover-bg: #458f41;
  --cui-btn-hover-border-color: #458f41;
  --cui-btn-active-bg: #7cc144;
  --cui-btn-active-border-color: #7cc144;
  --cui-btn-disabled-bg: #7cc144;
  --cui-btn-disabled-border-color: #7cc144;
  --cui-btn-shadow: rgba(157, 165, 177, 0.5);
}
#inputGroupPrepend-users {
  order: 3;
}
#inputGroupPrepend-photos {
  order: 3;
}
#inputGroupPrepend-videos {
  order: 3;
}

.chartjs-tooltip{
  width: auto;
}
