.bg_login {
  background: #50c859;
  background: -webkit-linear-gradient(-135deg, #50c859, #4158d0);
  background: -o-linear-gradient(-135deg, #50c859, #4158d0);
  background: -moz-linear-gradient(-135deg, #50c859, #4158d0);
  background: linear-gradient(-135deg, #50c859, #4158d0);
}
.wrap_login {
  width: 40%;
  border-radius: 25px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5%;
  margin: 0 5%;
  background: white;
  box-shadow: 0 0 25px;
}

.span_title_login {
  font-family: Poppins-Regular, sans-serif;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 10%;
}
.border-radius-5{
  border-radius: 10px;
}
.button-login {
  --cui-btn-bg: #7cc144;
  --cui-btn-border-color: #7cc144;
  --cui-btn-hover-bg: #458f41;
  --cui-btn-hover-border-color: #458f41;
  --cui-btn-active-bg: #7cc144;
  --cui-btn-active-border-color: #7cc144;
  --cui-btn-disabled-bg: #7cc144;
  --cui-btn-disabled-border-color: #7cc144;
  --cui-btn-shadow: rgba(157, 165, 177, 0.5);
}
